# URI de connexion Atlas (MongoDB Atlas)
ATLAS_URI="mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority"

# URI de connexion locale (Docker ou MongoDB Community local)
LOCAL_URI="mongodb://localhost:27017"
MONGODB_URI="mongodb://localhost:27017"